rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	match /users/{userId} {
    	allow read: if true;
      allow create: if true;
      allow update, delete: if isOwner(userId);
    }
  
    match /games/{gameId} {
    	allow read: if true;
    	allow create: if isSignedIn();
      allow update, delete: if isAdmin();
    }   
    
    match /teams/{teamId} {
    	allow read: if true; 
      allow create: if isSignedIn();
      allow update: if isSignedIn();
      allow delete: if isOwner(getTeamData(teamId).uid) || isAdmin();
    }
    
    function isSignedIn() {
    	return request.auth != null;
    }
    
    function isOwner(userId) {
    	return request.auth.uid == userId;
    }
    
    function getUserData() {
    	return get(/databases/$(database)/documents/users/$(request.auth.uid)).data;
    }
    
    function isAdmin() {
    	return getUserData().roles.admin;
    }
    
    function getTeamData(teamId) {
    	return get(/databases/$(database)/documents/teams/$(teamId)).data; 
    }
  }
}