@import './vars.css';

.page {
    --page-offset-inline: var(--spacing-s);
    --page-offset-top: var(--navbar-height);
    min-height: 100vh;
    padding-inline: var(--page-offset-inline);
    padding-top: var(--page-offset-top);
}

.page > :first-child {
    margin-top: var(--spacing-l);
}

.sections-wrapper > * + * {
    margin-top: var(--spacing-m);
}

.flex-col-centered {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    align-items: center;
}

.bg-overlay {
    position: relative;
}

.bg-overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: var(--z-index-over-3);
}

.bg-overlay > * {
    z-index: var(--z-index-over-4);
}

.bg-overlay--darken::before {
    -webkit-mask-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(0, 0, 0, 0)),
        to(rgba(0, 0, 0, 1))
    );
    mask-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(0, 0, 0, 0)),
        to(rgba(0, 0, 0, 1))
    );
    background-color: var(--clr-bg);
}

.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.fullheight {
    min-height: calc(100vh - var(--navbar-height));
}
