:root {
    --clr-primary-h: 260;
    --clr-primary-s: 100%;
    --clr-primary-l: 50%;

    --clr-primary-10: hsl(
        var(--clr-primary-h),
        var(--clr-primary-s),
        calc(var(--clr-primary-l) + 40%)
    );
    --clr-primary-20: hsl(
        var(--clr-primary-h),
        var(--clr-primary-s),
        calc(var(--clr-primary-l) + 30%)
    );
    --clr-primary-30: hsl(
        var(--clr-primary-h),
        var(--clr-primary-s),
        calc(var(--clr-primary-l) + 20%)
    );
    --clr-primary-40: hsl(
        var(--clr-primary-h),
        var(--clr-primary-s),
        calc(var(--clr-primary-l) + 10%)
    );
    --clr-primary-50: hsl(
        var(--clr-primary-h),
        var(--clr-primary-s),
        var(--clr-primary-l)
    );
    --clr-primary-60: hsl(
        var(--clr-primary-h),
        var(--clr-primary-s),
        calc(var(--clr-primary-l) - 10%)
    );
    --clr-primary-70: hsl(
        var(--clr-primary-h),
        var(--clr-primary-s),
        calc(var(--clr-primary-l) - 20%)
    );
    --clr-primary-80: hsl(
        var(--clr-primary-h),
        var(--clr-primary-s),
        calc(var(--clr-primary-l) - 30%)
    );
    --clr-primary-90: hsl(
        var(--clr-primary-h),
        var(--clr-primary-s),
        calc(var(--clr-primary-l) - 40%)
    );
    --clr-primary-100: hsl(
        var(--clr-primary-h),
        var(--clr-primary-s),
        calc(var(--clr-primary-l) - 45%)
    );

    --clr-secondary-h: 333;
    --clr-secondary-s: 100%;
    --clr-secondary-l: 50%;

    --clr-secondary-10: hsl(
        var(--clr-secondary-h),
        var(--clr-secondary-s),
        calc(var(--clr-secondary-l) + 40%)
    );
    --clr-secondary-20: hsl(
        var(--clr-secondary-h),
        var(--clr-secondary-s),
        calc(var(--clr-secondary-l) + 30%)
    );
    --clr-secondary-30: hsl(
        var(--clr-secondary-h),
        var(--clr-secondary-s),
        calc(var(--clr-secondary-l) + 20%)
    );
    --clr-secondary-40: hsl(
        var(--clr-secondary-h),
        var(--clr-secondary-s),
        calc(var(--clr-secondary-l) + 10%)
    );
    --clr-secondary-50: hsl(
        var(--clr-secondary-h),
        var(--clr-secondary-s),
        var(--clr-secondary-l)
    );
    --clr-secondary-60: hsl(
        var(--clr-secondary-h),
        var(--clr-secondary-s),
        calc(var(--clr-secondary-l) - 10%)
    );
    --clr-secondary-70: hsl(
        var(--clr-secondary-h),
        var(--clr-secondary-s),
        calc(var(--clr-secondary-l) - 20%)
    );
    --clr-secondary-80: hsl(
        var(--clr-secondary-h),
        var(--clr-secondary-s),
        calc(var(--clr-secondary-l) - 30%)
    );
    --clr-secondary-90: hsl(
        var(--clr-secondary-h),
        var(--clr-secondary-s),
        calc(var(--clr-secondary-l) - 40%)
    );
    --clr-secondary-100: hsl(
        var(--clr-secondary-h),
        var(--clr-secondary-s),
        calc(var(--clr-secondary-l) - 45%)
    );

    --clr-text: #eee;
    --clr-text-faded: #ccc;
    --clr-bg: hsl(var(--clr-primary-h), 40%, 10%);
    --clr-primary-box-shadow: var(--clr-primary-90);

    --spacing: 16px;
    --spacing-xxs: calc(0.25 * var(--spacing));
    --spacing-xs: calc(0.5 * var(--spacing));
    --spacing-s: calc(0.75 * var(--spacing));
    --spacing-m: var(--spacing);
    --spacing-l: calc(1.25 * var(--spacing));
    --spacing-xl: calc(1.5 * var(--spacing));
    --spacing-xxl: calc(2 * var(--spacing));

    --gap: 0.5rem;
    --gap-xxs: calc(0.25 * var(--gap));
    --gap-xs: calc(0.5 * var(--gap));
    --gap-s: calc(0.75 * var(--gap));
    --gap-m: calc(1 * var(--gap));
    --gap-l: calc(1.25 * var(--gap));
    --gap-xl: calc(1.5 * var(--gap));
    --gap-xxl: calc(2 * var(--gap));

    --fs-normal: 16px;
    --fs-h-s: 1.5rem;
    --fs-h-m: 2.25rem;
    --fs-h-l: 3.75rem;

    --fw-normal: 500;
    --fw-semibold: 600;
    --fw-bold: 700;

    --rounded-s: 6px;
    --rounded-m: 12px;
    --rounded-l: 24px;

    --z-index-behind: -1;
    --z-index-base: 0;
    --z-index-over-1: 10;
    --z-index-over-2: 20;
    --z-index-over-3: 30;
    --z-index-over-4: 40;
    --z-index-over-5: 50;
    --z-index-over-6: 60;
    --z-index-over-7: 70;
    --z-index-over-8: 80;
    --z-index-over-9: 90;
    --z-index-over-10: 100;

    --navbar-height: 56px;
}
